*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container{
    color: #FFF;
    background-color: #5995DA;
    padding: 20px 0;
}

.menu{
    border: 1px solid #FFF; /*Debugging*/
}


/*FlexBox (Bit harsh there mate. It's entirely reasonable I'd have forgotten
where I was after several weeks not doing this, you wanker)*/
